/****************************** Login section ***************************** */
.loginBody {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #213167;
    margin: 0;
  }

  .login-container {
    background: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 10px 20px #21a1eb;
    text-align: center;
    width: 100%;
    max-width: 500px;
  }

  .login-container h1 {
    margin-bottom: 1em;
    font-size: 2em;
    color: #114070;
    text-transform: uppercase;
  }

  .input-group {
    margin: 0 20px 0 20px;
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
  }

  .input-group label1 {
    display: block;
    text-align: start;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #213167;
    padding: 9px 30px 9px 30px;
    color: white;
  }
  .input-group label2 {
    display: block;
    text-align: start;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #21a1eb;
    padding: 9px 30px 9px 30px;
    color: white;
  }
  label4 {
    font-size: 10px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #213167;
    padding: 8px 10px 8px 10px;
    color: white;
  }
  .label3 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #dedede;
    padding: 8px 10px 8px 10px;
    color: white;
  }

  .input-group input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    font-size: 1em;
  }

  .login-btn {
    text-transform: uppercase;
    background: #213167;
    color: white;
    border: none;
    padding: 0.75em 1.5em;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    transition: background 0.3s ease;
    margin-bottom: 10px;
    padding: 10px 30px 10px 30px;
  }

  .login-btn:hover {
    background: #21a1eb;
    opacity: 0.9;
  }
  .login-image {
    margin: 20px 20px;
    width: 200px;
  }
  .forgot-passtext {
    color: #21a1eb;
    text-decoration: underline;
    font-weight: 600;
  }
  .forgot-passtext:hover {
    color: #213167;
  }
  .show-password-img , .hide-password-img {
    width: 20px;
  }
